<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Modified by hc-tec on 2026-04-09: keep only debug-specific activity flags after placeholder-based host wiring. -->

    <application>
        <activity
            android:name=".AboutActivity"
            android:directBootAware="true"
            android:exported="true"
            android:theme="@style/DeviceSettingsTheme"
            tools:targetApi="24" />
    </application>
</manifest>
