<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Modified by hc-tec on 2026-04-09: resolve plugin host queries/actions via the active keyflow app id. -->

    <!--
        ${mainApplicationId} can only be used inside plugin,
        because it's defined in AndroidPluginAppConventionPlugin
    -->
    <queries>
        <package android:name="${mainApplicationId}" />
    </queries>

    <!-- permission required to request self-uninstall -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <application>
        <activity
            android:name=".AboutActivity"
            android:exported="true"
            android:theme="@style/DeviceSettingsTheme">
            <intent-filter>
                <action android:name="${mainApplicationId}.plugin.MANIFEST" />
            </intent-filter>
        </activity>
    </application>
</manifest>
